
## HW1. Змінні та основні типи даних в Python

**1. Створення змінних**

Створіть змінні для особистої інформації (кожен пункт оцінюється в 0.5 бала):
- `name` - ваше ім'я (рядок)
- `age` - ваш вік (ціле число)
- `height` - ваш зріст в метрах (дробове число)
- `is_student` - чи є ви студентом (True/False)

Виведіть кожну з цих змінних за допомогою функції `print()`.

In [2]:
name = 'Kateryna'
age = 39
height = 1.68
is_student = True
print(name)
print(age)
print(height)
print(is_student)

Kateryna
39
1.68
True


---

**2. Арифметичні операції**

Створіть дві змінні: `var1` зі значенням 15, `var2` зі значенням 4.

Обчисліть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Суму
- Різницю
- Добуток
- Ділення
- Цілочисельне ділення
- Залишок від ділення
- Піднесення до степеня

In [5]:
var1 = 15
var2 = 4
print(var1 + var2)
print(var1 - var2)
print(var1 * var2)
print(var1 / var2)
print(var1 // var2)
print(var1 % var2)
print(var1 ** var2)

19
11
60
3.75
3
3
50625


---

**3. Робота з рядками**

Створіть зміну `last_name`, яка містять ваше прізвище.

Виконайте (кожен пункт оцінюється в 0.5 бала):
- Об'єднайте значення змінних `name` та `last_name` через пробіл в один рядок і збережіть в нову змінну `full_name`
- Виведіть `full_name` великими літерами
- Виведіть `full_name` малими літерами
- Виведіть довжину `full_name`
- Виведіть фразу: "Мене звати [ім'я], мені [вік] років". Вік використайте зі змінної, створеної у вправі 1.

In [7]:
last_name = 'Korniichuk'
full_name = name + ' ' + last_name

print(full_name.upper())
print(full_name.lower())
print(len(full_name))
print('Мене звати {}, мені {} років'.format(full_name, age))

KATERYNA KORNIICHUK
kateryna korniichuk
19
Мене звати Kateryna Korniichuk, мені 39 років