**1. Цикл for - базовий**

Використовуючи цикл `for`, виведіть числа від 1 до 7 включно використовуючи функцію range.

In [1]:
for i in range(1, 8):
  print(i)

1
2
3
4
5
6
7


---

**2. Цикл for по списку**

Дано список:

In [2]:
names = ["Олег", "Анна", "Іван", "Марія"]


Використовуючи цикл, виведіть кожне ім'я з привітанням: "Привіт, [ім'я]!"

In [4]:
for i in range(len(names)):
  print(f"Привіт, {names[i]}!")

Привіт, Олег!
Привіт, Анна!
Привіт, Іван!
Привіт, Марія!


---

**3. Цикл з enumerate**

Дано список оцінок:

In [3]:
grades = [85, 92, 78, 95, 88]


Використовуючи `enumerate`, виведіть кожну оцінку з номером: "Студент 1: 85 балів"

In [4]:
for i in enumerate(grades):
  print(f"Студент {i[0] + 1}: {i[1]} балів")

Студент 1: 85 балів
Студент 2: 92 балів
Студент 3: 78 балів
Студент 4: 95 балів
Студент 5: 88 балів

**4. Сума парних чисел**

Напишіть програму, яка обчислює суму всіх парних чисел від 1 до 20.

In [11]:
result_sum = 0

for i in range(1, 21):
  if i % 2 == 0:
    result_sum += i

print(result_sum )

110

In [14]:
### another way:

result_sum = sum([i for i in range(1, 21) if i%2 == 0])
print(result_sum)

110