**1. Функція без параметрів**

Створіть функцію `show_menu()`, яка приймає перелік страв, наприклад ['Піца', 'Паста', 'Салат'] і виводить меню ресторану в наступному вигляді:
```
=== МЕНЮ ===
1. Піца
2. Паста
3. Салат
=============
```

Викличте цю функцію на списку ["Суп грибний", "Котлета по-київськи", "Лимонад"].

In [12]:
def show_menu(menu):
  print("=== МЕНЮ ===")
  for i in range(len(menu)):
    print(f"{i+1}. {menu[i]}")
  print('=============')

show_menu(["Суп грибний", "Котлета по-київськи", "Лимонад"])

=== МЕНЮ ===
1. Суп грибний
2. Котлета по-київськи
3. Лимонад
=============


---

**2. Функція з параметром**

Створіть функцію `print_square(n)`, яка виводить квадрат числа.

Наприклад: `print_square(5)` → "Квадрат числа 5 = 25"

Викличте її з різними числами.

In [3]:
def print_square(n):
  print(f"Квадрат числа {n} = {n**2}")

print_square(1)
print_square(5)
print_square(10)
print_square(25)

Квадрат числа 1 = 1
Квадрат числа 5 = 25
Квадрат числа 10 = 100
Квадрат числа 25 = 625


---

**3. Функція з поверненням значення**

Створіть функцію `multiply(a, b)`, яка повертає добуток двох чисел.

Викличте функцію на власноруч заданих значеннях та виведіть результат.

In [6]:
def multiply(a, b):
  return a * b

print(multiply(1, 2))
print(multiply(5, 10))
print(multiply(25, 15))

2
50
375


---

**4. Функція пошуку максимумального значення**

Створіть функцію `find_max(numbers)`, яка:
- Приймає список чисел
- Повертає найбільше число в списку

Протестуйте на списку `[15, 42, 8, 23, 56, 19]`.

In [9]:
def find_max(numbers):
  max = numbers[0]
  for number in numbers:
    if number > max:
      max = number
  return max

print(find_max([15, 42, 8, 23, 56, 19]))

56


---

**5. Функція з умовами**

Створіть функцію `check_grade(grade)`, яка:
- Приймає оцінку (число)
- Повертає "Здав" якщо grade >= 60
- Повертає "Не здав" якщо grade < 60

Протестуйте на різних оцінках.

In [11]:
def check_grade(grade):
  if grade >= 60:
    return 'Здав'
  else:
    return 'Не здав'

print(check_grade(59))
print(check_grade(60))
print(check_grade(6))
print(check_grade(100))

Не здав
Здав
Не здав
Здав